.top-nav-bar {
  background-color: white;
}

.top-nav-bar a.navbar-brand img {
  width: 80%;
}

.top-nav-bar a.nav-link {
  color: #9a9a9e;
  font-weight: bold;
}

.top-nav-bar a.nav-link:hover {
  color: #6b6a6a;
}

.top-nav-bar a.btn-primary {
  color: white;
}